USE [master]
GO
/****** Object:  Database [NatariysDB]    Script Date: 21.07.2025 14:56:49 ******/
CREATE DATABASE [NatariysDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NatariysDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\NatariysDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NatariysDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\NatariysDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NatariysDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NatariysDB]
GO
/****** Object:  Table [dbo].[address]    Script Date: 21.07.2025 14:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[id_user] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message]    Script Date: 21.07.2025 14:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sender] [int] NOT NULL,
	[receiver] [int] NOT NULL,
	[datetime] [datetime] NOT NULL,
	[text] [nvarchar](max) NULL,
 CONSTRAINT [PK_message] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 21.07.2025 14:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 21.07.2025 14:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_services] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_services]    Script Date: 21.07.2025 14:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_services](
	[id_user] [int] NOT NULL,
	[id_service] [int] NOT NULL,
 CONSTRAINT [PK_user_services] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC,
	[id_service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 21.07.2025 14:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_role] [int] NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[img_path] [nvarchar](500) NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[sur_name] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[address] ([id_user], [name]) VALUES (1, N'Герцена, 70
Калининский округ, Тюмень, 625000')
INSERT [dbo].[address] ([id_user], [name]) VALUES (2, N'Новосибирск Адрес: улица Осипенко, 79')
INSERT [dbo].[address] ([id_user], [name]) VALUES (3, N'Тюмень Адрес: улица Пермякова, 7/1, офис 126')
GO
SET IDENTITY_INSERT [dbo].[message] ON 

INSERT [dbo].[message] ([id], [sender], [receiver], [datetime], [text]) VALUES (26, 22, 1, CAST(N'2025-06-19T00:55:54.517' AS DateTime), N'Здравствуйте, Олеся Юрьевна.')
INSERT [dbo].[message] ([id], [sender], [receiver], [datetime], [text]) VALUES (27, 22, 1, CAST(N'2025-06-19T00:56:35.993' AS DateTime), N'Нужна консультация по теме «Вступление в наследство»!')
INSERT [dbo].[message] ([id], [sender], [receiver], [datetime], [text]) VALUES (28, 1024, 1, CAST(N'2025-06-19T02:59:28.417' AS DateTime), N'Здравствуйте, Олеся Юрьевна.')
SET IDENTITY_INSERT [dbo].[message] OFF
GO
INSERT [dbo].[role] ([id], [name]) VALUES (1, N'Пользователь')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'Натариус')
GO
SET IDENTITY_INSERT [dbo].[services] ON 

INSERT [dbo].[services] ([id], [name]) VALUES (1, N'Консультация устная')
INSERT [dbo].[services] ([id], [name]) VALUES (2, N'Консультация письменная')
INSERT [dbo].[services] ([id], [name]) VALUES (3, N'Досудебное урегулирование')
SET IDENTITY_INSERT [dbo].[services] OFF
GO
INSERT [dbo].[user_services] ([id_user], [id_service]) VALUES (1, 2)
INSERT [dbo].[user_services] ([id_user], [id_service]) VALUES (1, 3)
INSERT [dbo].[user_services] ([id_user], [id_service]) VALUES (1, 1006)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [id_role], [login], [password], [img_path], [first_name], [last_name], [sur_name], [phone], [email]) VALUES (1, 2, N'ur1', N'ur1', N'G:\ИСПп-1-22 Фролов Даниил Диплом\Приложение\Natariys\assets\5.jpg', N'Олеся', N'Запорожченко', N'Юрьевна', N'8923421232', N'agentstvoydacxa2005@mail.ru')
INSERT [dbo].[users] ([id], [id_role], [login], [password], [img_path], [first_name], [last_name], [sur_name], [phone], [email]) VALUES (2, 2, N'ur2', N'ur2', N'G:\ИСПп-1-22 Фролов Даниил Диплом\Приложение\Natariys\assets\1.jpg', N'Вадим', N'Думенов', N'Викторович', N'8324312999', N'dumenovv@ya.ru')
INSERT [dbo].[users] ([id], [id_role], [login], [password], [img_path], [first_name], [last_name], [sur_name], [phone], [email]) VALUES (3, 2, N'ur3', N'ur3', N'G:\ИСПп-1-22 Фролов Даниил Диплом\Приложение\Natariys\assets\2.jpg', N'Константин', N'Мальцев', N'Александрович', N'+7(922)268-83-65', N'madmax258@mail.ru')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_img_path]  DEFAULT (N'/assets/user_defoult.png') FOR [img_path]
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD  CONSTRAINT [FK_address_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[address] CHECK CONSTRAINT [FK_address_users]
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD  CONSTRAINT [FK_message_users] FOREIGN KEY([sender])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[message] CHECK CONSTRAINT [FK_message_users]
GO
ALTER TABLE [dbo].[message]  WITH CHECK ADD  CONSTRAINT [FK_message_users1] FOREIGN KEY([receiver])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[message] CHECK CONSTRAINT [FK_message_users1]
GO
ALTER TABLE [dbo].[user_services]  WITH CHECK ADD  CONSTRAINT [FK_user_services_services] FOREIGN KEY([id_service])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[user_services] CHECK CONSTRAINT [FK_user_services_services]
GO
ALTER TABLE [dbo].[user_services]  WITH CHECK ADD  CONSTRAINT [FK_user_services_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_services] CHECK CONSTRAINT [FK_user_services_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_role] FOREIGN KEY([id_role])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_role]
GO
USE [master]
GO
